@import url(/reset.css);
:root{
    background-color:thistle
}
div{
    position: relative;
    top: 200px;
    width: 400px;
    height: max-content;
    border: inset;
    margin: 0 auto;

}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: blue;
    /* top: 100px; */
    text-align: center;
    position: relative;
    text-shadow: 3px 0px white;

}
p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ol{
    width: max-content;
    height: max-content;
    position: relative;
    left: 70px;
    font-size: x-large;
}
li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}